.footer {
    height: 6vh;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;    
    color: rgb(238, 232, 232);    
}

.nombre{        
    position: auto;
    height: 80%;
}