<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>

    <app-header></app-header>

    <div class="global">
        <div class="toc">
            <app-table-of-contents [tableOfContents]="tableOfContents"
                (scrollToElement)="scrollToSection($event)"></app-table-of-contents>
        </div>

        <div class="content">
            <div id="section1">
                <h2>Introduction</h2>
                <p>
                    This time we going to create a ElasticSeach (ES) instance using docker, learn
                    how to push our data
                    in ES indices and how to make snapshots (backups) in a local binding folder.
                    Finally we'll restore the example indices
                    in another ES instance. For more details see <a
                        href="https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html">ElasticSearch
                    </a>. All source code is in the <a href="https://github.com/lmdcma27/elastic-docker" style="color: green;" target="_blank">github repository</a>
                </p>
            </div>
            <div id="section2">
                <h2>Docker compose file</h2>
                <p>The first thing to do is create the instance copy and paste the code below into a
                    yaml file callled 'docker-compose.yaml', or '.yml'.</p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                                version: '3.9'
                                                services:
                                                    es01:
                                                        container_name: es01
                                                        image: docker.elastic.co/elasticsearch/elasticsearch:8.8.2
                                                        environment: 
                                                            - discovery.type=single-node
                                                            - path.repo=/usr/share/elasticsearch/backups
                                                        restart: always
                                                        ports:
                                                            - 9200:9200
                                                        networks:
                                                            - elastic
                                                        volumes:
                                                            - es_data:/usr/share/elasticsearch/data
                                                            - ./backups:/usr/share/elasticsearch/backups

                                                    kibana:
                                                        container_name: kibana
                                                        image: docker.elastic.co/kibana/kibana:8.8.2
                                                        restart: always
                                                        ports:
                                                            - 5601:5601
                                                        networks:
                                                            - elastic

                                                volumes:
                                                    es_data:
                                                networks:
                                                    elastic:
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                When the building of the container has finished, we find a folder called 'backups' beside we
                docker-compose.yaml file
            </div>
            <div id="section3">
                <h2>Connection</h2>
                <p>
                    The connection will be with python using the library elasticsearch, the '7.13.4' version works fine.
                    We can install it in our
                    python environment:
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                pip install elasticsearch==7.13.4   
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                Before the connection, we need the token, password and api key. Open terminal, for the token run:
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                sudo docker exec -it es01 /usr/share/elasticsearch/bin/elasticsearch-create-enrollment-token -s kibana
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                and for the password:
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                sudo docker exec -it es01 /usr/share/elasticsearch/bin/elasticsearch-reset-password -u elastic
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                then enter 'y' in the terminal.
                <br>
                <p>
                    Now, in the 'localhost:5601' we can paste the required token. Kibana gives a verification code of 6
                    digits and we can get from terminal keyboarding 'docker logs kibana' . After that, we login with
                    password and
                    user 'elastic'
                </p>
                <img src="./assets/images/elasticdocker/pastetoken.png"
                    style="display: block; margin-left: auto; margin-right: auto;" alt="">
                <img src="./assets/images/elasticdocker/codeverification.png"
                    style="display: block; margin-left: auto; margin-right: auto;" alt="">

                <p> Once in kibana interface, go to the endpoint
                    'http://localhost:5601/app/management/security/api_keys/', click on 'Create API key' button, assign
                    a name and copy as json.</p>
                <img src="./assets/images/elasticdocker/apikey.png"
                    style="display: block; margin-left: auto; margin-right: auto;" alt="">
                <p>
                    The connection function is
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                                <code code id="code" class="language-python"> 
                                    from elasticsearch import Elasticsearch
                                    import warnings
                                    warnings.filterwarnings("ignore")    
                                    def Connection(es_host:str,es_user:str,es_password:str,api_key:tuple):
                                        es = Elasticsearch( hosts=[es_host],
                                                            basic_auth=(es_user, es_password), 
                                                            verify_certs=False,
                                                            api_key=api_key
                                        )
                                        return es                
                                </code>
                            </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <p>So, we can verify the connection</p>

                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                                <code code id="code" class="language-python">   
                                    api_key=('api_id','api_key')
                                    conn=Connection('https://localhost:9200/','elastic','password',api_key)
                                    print(conn.info())
                                </code>
                            </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                and get something like this
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                                <code code id="code" class="language-python">   
                                    &#123;'name': '349860b1705d', 
                                          'cluster_name': 'docker-cluster', 
                                          'cluster_uuid': 'ChyUT4WjR4GJ9S3fcqsMZQ', 
                                          'version': &#123;'number': '8.8.2', 
                                            'build_flavor': 'default', 
                                            'build_type': 'docker', 
                                            'build_hash': '98e1271edf932a480e4262a471281f1ee295ce6b', 
                                            'build_date': '2023-06-26T05:16:16.196344851Z', 
                                            'build_snapshot': False, 'lucene_version': '9.6.0', 
                                            'minimum_wire_compatibility_version': '7.17.0', 
                                            'minimum_index_compatibility_version': '7.0.0'
                                            &#125;, 
                                          'tagline': 'You Know, for Search'
                                    &#125;
                                </code>
                            </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
            </div>


            <div id="section4">
                <h2>Indices and snapshots</h2>
                <p>
                    To create a snapshot we first need a index to backup so, that's easy
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                                <code code id="code" class="language-python">   
                                def create_index(conn,name):
                                    if name in conn.indices.get('*').keys():
                                        print("This index already exists")
                                    else:
                                        print("New index created")  
                                        conn.indices.create(index=name) 
                                create_index(conn,'favorite_mangas')
                                </code>
                            </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                Pushing some data to the new index.
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                conn.index(index='favorite_mangas',body=&#123;'Manga':'One Piece','Author':'Eiichiro Oda','Year':'1997'&#125;)
                                conn.index(index='favorite_mangas',body=&#123;'Manga':'Hunter x Hunter','Author':'Yoshihiro Togashi ','Year':'1999'&#125;)
                                conn.index(index='favorite_mangas',body=&#123;'Manga':'Naruto','Author':'Masashi Kishimoto','Year':'1998'&#125;)
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <p>
                    To create a snapshot it is necessary the repository name and the index name, the index name can be a indices list, but be carefull
                to change the snapshot name.
                </p>
                <p>
                    First the function to create the repository, note that the "location" parameter in the "create_repository" function
                    is the path inside the docker container, the same used above in the docker compose file.
                </p>

                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                def create_repository(conn, repository_name='my_fs_backup'):
                                    # Snapshot repository settings
                                    repository_type = 'fs'
                                    repository_settings = &#123;            
                                        "location": "/usr/share/elasticsearch/backups",
                                        "compress": "true"
                                    &#125;
                                    response = conn.snapshot.create_repository(repository_name, body=&#123;
                                        "type": repository_type,
                                        "settings": repository_settings
                                    &#125;, request_timeout=30)

                                    print(response)
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <p>
                    Next, the function that create the snapshot.
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                def create_snapshot(conn,index_name):
                                
                                    repository_name = 'my_fs_backup' #Snapshot repository name
                                    snapshot_name = index_name+'_snapshot' # Replace with a suitable name for your snapshot
                                    try:
                                        response = conn.snapshot.create(repository=repository_name, snapshot=snapshot_name, body=&#123;
                                            "indices": index_name,
                                            "include_global_state": False
                                            &#125;, request_timeout=300)

                                        print(response)
                                    except:
                                        print("The index doesn't exists")  
                                
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                create_repository(conn)
                                create_snapshot(conn,'favorite_mangas')                                                  
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>                
                <p>Don't forget read the <a href="https://elasticsearch-py.readthedocs.io/en/v8.10.1/">ES documentation for python</a></p>
            </div>
            <div id="section5">
                <h2>Restoring indices from snapshots</h2>
                <p>
                    Finally, it is possible restore indices from snapshots. To do this we can delete docker-compose image using "docker compose down -v" in terminal, 
                    and repeat all steps until before creating a new index, that just take a few minutes and it's a good practice.              
                </p>
                <p>
                    Before continue, here is a usefull list of function to list repositories, snapshots and indices in our instance.                    
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                def list_repositories(conn):
                                    # List snapshot repositories
                                    repositories = conn.snapshot.get_repository()
                                    print("Snapshot Repositories:")
                                    for repo_name in repositories:
                                        print(repo_name)      
                                            
                                def list_snapshots(conn):
                                    # List snapshots
                                    repository_name = 'my_fs_backup'
                                    snapshot_repository = conn.snapshot.get_repository(repository=repository_name)
                                    snapshot_repository_name = snapshot_repository[repository_name]['type']

                                    snapshots = conn.snapshot.get(repository=repository_name, snapshot='_all')
                                    print("Snapshots:")
                                    for snapshot in snapshots['snapshots']:
                                        print(snapshot['snapshot'])
                                        
                                def list_indices(conn):
                                    indices = conn.indices.get('*')
                                    print("Indices:")
                                    print(indices.keys())    
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <p>
                    When a snapshot is restored it's necessary indicate a existing repository, don't forget. The code is as follow, first the restoring snapshot function                    
                </p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                def restore_snapshot(conn,snapshot_name,index_name):

                                    # Snapshot repository name
                                    repository_name = 'my_fs_backup'
                                        
                                    # Restore the snapshot
                                    response = conn.snapshot.restore(repository=repository_name, snapshot=snapshot_name, body=&#123;
                                        "indices": index_name
                                    &#125;, request_timeout=300)
                                    print(response)
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                create_repository()
                                restore_snapshot(conn,'favorite_mangas_snapshot','favorite_mangas')
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy    
                        </button>
                    </div>
                </div>
                <p>The last part is query the info in the 'favorite_mangas' index, we can try</p>


                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                            <code code id="code" class="language-python">   
                                result=conn.search(index='my_first_index',body=&#123;'query':&#123;'match_all':&#123;&#125;&#125;&#125; )
                                for register in result['hits']['hits']:
                                    print(register['_source'])
                            </code>
                        </pre>
                        <button id="copy-button">
                            Copy
                        </button>
                    </div>
                </div>

                
            </div>
        </div>

    </div>

</body>