/* Default header styles */
.header {
  background-color: black;
  text-align: left;
  color: rgb(238, 232, 232);
  position: relative;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.logo {
  margin: 0.3%;
  height: 85%;
  width: 15%;
}

.navbar {
  width: 70%;  /* Adjust the width of navbar */
  display: flex;
  justify-content: flex-end; /* Align navbar items to the right */
  align-items: center;
}

.navegation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end; /* Align navbar items to the right */
}

li {
  font-size: 2vh;
  margin: 0 2%;  /* Add spacing between items */
}

.navbar a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 0.5vh 1.5vh;
}

/* Navbar hover effects */
.navbar a:hover {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: blue;
  color: orange;
  font-size: 150%;
}

/* GitHub specific hover effect */
.github a:hover {
  background-color: rgb(12, 12, 12);
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(239, 239, 245);
  color: rgb(0, 255, 115);
  font-size: 150%;
}

/* Media Queries for Responsive Design */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .header {
      flex-direction: column; /* Stack the elements vertically */
      height: auto;  /* Adjust height to fit the content */
      justify-content: center; /* Center the items vertically */
  }

  .logo {
      padding-right: 13vh;      
      width: 10vh;
      height:10vh;
  }

  .navbar {
      width: 100%;  /* Make navbar full width */
      justify-content: center; /* Center the navbar items */
  }

  .navegation {
      justify-content: center; /* Center the navbar links */
  }

  li {
      font-size: 3vh;  /* Increase font size for readability */
      margin: 1vh;  /* Add spacing between items */
  }

  .navbar a {
      padding: 0.5vh 2vh; /* Adjust padding for better clickability */
  }
}

/* For screens smaller than 480px (very small screens like mobile phones) */
@media (max-width: 480px) {
  .logo {    
    width: 10vh;
    height:10vh;
}
  

  .navbar {
      width: 100%;  /* Make navbar full width */
      justify-content: center; /* Center the navbar items */
  }

  li {
      font-size: 4vh;  /* Increase font size more for small screens */
      margin: 1vh 0;  /* Vertical spacing between items */
  }

  .navbar a {
      padding: 1vh 2vh;  /* Increase padding for better clickability */
  }
}
