.header {
    background-color: black;
    text-align: left;
    color: rgb(238, 232, 232);
    position: auto;
    width: 100%;
    height: 8vh;
}
.logo {
    float: left;
    margin-left: 0.3%;
    margin-top: 0.3%;
    height: 85%;
    width: 15%;    
}
.navbar {
  float: right;
  overflow: hidden;
  width: 70%; /* Adjust the width to your preference */
  height: 100%;
  font-size: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 100%;
}

.navbar a:hover {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: blue;
  color: orange;
  font-size: 150%;
}

.github a:hover {
  background-color: rgb(12, 12, 12);
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(239, 239, 245);
  color: rgb(0, 255, 115);
  font-size: 150%;
}

.navegation {
  float: right;
  list-style: none;
  margin: 1%;
  display: flex;
  /* set the display property of the ul element to flex */
  width: 30%; /* Adjust the width to your preference */
  justify-content: flex-end; /* Align the list items to the right */
}

li {
  margin: 2.3%;
  font-size: 2vh;
  /* add some spacing between list items */
}