<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <div class="global">
        <div class="tableOfContents">
            <ul>
                <li *ngFor="let section of tableOfContents">
                    <a (click)="onClick(section[0])"> {{section[1]| uppercase}}</a>
                </li>
            </ul>

        </div>
        <div class="content">
            <div id={{section[0]}} *ngFor="let section of tableOfContents">
                <h2>{{section[1]}}</h2>
                <p>{{section[2]}}</p>                
                <p>{{section[3]}}</p>
                <div class="container">
                    <div class="code-wrapper">
                        <pre *ngIf="section[4] != undefined && section[4] != ''">
                            <code code id="code" class="language-python">
                                {{ section[4] }}
                            </code>
                        </pre>
                        <button id="copy-button" >
                            Copy
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>