.tableOfContents {
        display: flex;
        flex: 1;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        height: 50vh;
}

.tableOfContents li:hover {
        color: black;
        background-color: white;
        border-radius: 20px;
        text-align: center;
}

.a,.li,.ul {
        text-decoration: none;
}
