.tableOfContents {
        display: flex;
        flex: 1;
        flex-direction: column;        
        color: white;
        margin-top: 17%;
        margin-bottom: 17%;
        align-items: center; 
      }
      
.tableOfContents li:hover{
        color: black;
        background-color: white;    
        border-radius: 20px;
        text-align: center;
      }

.a{
        text-decoration: none;
}