<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

        <app-header></app-header>
        <div class="CV">
            <div class="page">
                <div class="part1" style="height: 10%;">
                    <div class="frase">
                        What really matters is your skill to solve problems.
                    </div>
                    <div class="foto">
                        <img src="https://raw.githubusercontent.com/lmdcma27/WebPage/githubpagesdeploy/docs/assets/images/foto.jpg"
                            width="110" height="110" id="Avatar">
                    </div>
                </div>

                <div class="part2">
                    <h6>PERSONAL DETAILS</h6>
                    <hr>
                    <table class="details-table" style="height: 10%;">
                        <tr>
                            <td class="label">Birth</td>
                            <td>July 20, 1997</td>
                        </tr>
                        <tr>
                            <td class="label">Phone</td>
                            <td>+502 35694354</td>
                        </tr>
                        <tr>
                            <td class="label">Email</td>
                            <td>lmdcma27@gmail.com</td>
                        </tr>
                    </table>

                    <h6>EDUCATION</h6>
                    <hr>
                    <table class="studies-table" style="height: 10%;">
                        <tr>
                            <td class="career">Grade in Applied Physic</td>
                        </tr>
                        <tr>
                            <td>Universidad de San Carlos de Guatemala, Guatemala.</td>
                            <td class="time">2016-2022</td>
                        </tr>
                        <tr>
                            <td class="career">Grade in Applied Mathematics</td>
                        </tr>
                        <tr>
                            <td>Universidad de San Carlos de Guatemala, Guatemala.</td>
                            <td class="time">2018-2022</td>
                        </tr>
                    </table>

                    <h6>WORK EXPERIENCE</h6>
                    <hr>
                    <table class="experience-table" style="height: 19%;">
                        <tr>
                            <td class="work">Data Analyst, INE Guatemala.</td>
                            <td class="wt">Aug 2022-Feb 2023</td>
                        </tr>
                        <tr>
                            <td class="description">
                                <ul>
                                    <li>Calculate the Price Consumer Index (PCI) and inflation rate of the country.</li>
                                    <li>Power BI dashboards and data warehouse. Using python, pandas and sql server.</li>
                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td class="work">Data Engineer, FenixCorp.</td>
                            <td class="wt">Feb 2023-Present</td>
                        </tr>
                        <tr>
                            <td class="description">
                                <ul>
                                    <li>Rise elasticsearch service with docker, ingest massive data, handle indices backups
                                        and snapshots.</li>
                                    <li>Scraping massive profiles from job pages, data cleaning, training machine learning
                                        model to extract personal references from CV and push to database (ETL)</li>
                                    <li>Data cleaning of big datasets unifying duplicates registers, ensure data quality and
                                        reducing data loss with pandas.</li>
                                    <li>Database design, administration and making complex queries that merge multiple
                                        tables with mysql.</li>
                                </ul>


                            </td>
                        </tr>
                    </table>

                    <h6>LANGUAGES</h6>
                    <hr>
                    <table class="languages-table" style="height: 10%;">
                        <tr>
                            <td class="language">Spanish</td>
                            <td class="level">Mother Tongue</td>
                        </tr>
                        <tr>
                            <td class="language">English</td>
                            <td class="level">Middle</td>
                        </tr>
                    </table>

                    <h6>SOFTWARE</h6>
                    <hr>
                    <table class="software-table" style="height: 10%;">
                        <tr>
                            <td class="languages">Python</td>
                            <td>Numpy, Pandas, Matplotlib, Sklearn, Tensorflow, django.</td>
                        </tr>
                        <tr>
                            <td class="languages">Javascript</td>
                            <td>NodeJS, Angular, DataForge.</td>
                        </tr>
                        <tr>
                            <td class="languages">MySQL & SQL Server</td>
                            <td>Aggregation functions, Store procedures, subqueries, views, pivot, unpivot, backup, restore.
                            </td>
                        </tr>
                        <tr>
                            <td class="languages">Others</td>
                            <td>Docker, ElasticSearch, Power BI, LATEX, Office.</td>
                        </tr>
                    </table>

                    <h6>CERTIFICATIONS</h6>
                    <hr>
                    <table class="certifications-table" style="height: 10%;">
                        <tr>
                            <td class="year">2022</td>
                            <td>Complete Machine Learning Course: Data Science with Python(Udemy)</td>
                        </tr>
                        <tr>
                            <td class="year">2022</td>
                            <td>Deep Learning with Tensorflow for Machine Learning and AI(Udemy)</td>
                        </tr>
                        <tr>
                            <td class="year">2022</td>
                            <td>SQL Server: Advanced course (Udemy)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>        
    
</body>

</html>