<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

        <app-header></app-header>
        <div class="CV">
            <div class="page">
                <div class="part1" style="height: 10%;">
                    <div class="abstract">
                        
                        <div class="frase">
                            What really matters is your skill to solve problems.
                        </div>
                    </div>

                                                                    
                    <div class="foto">
                        <img src="https://raw.githubusercontent.com/lmdcma27/WebPage/githubpagesdeploy/docs/assets/images/foto.jpg"
                            width="110" height="110" id="Avatar">
                    </div>
                </div>

                <div class="part2">
                    <h6>ABOUT ME</h6>
                    <hr>
                    <table class="aboutme" style="height: 10%;">
                        <tr>                            
                            
                            <td><p>I am a highly skilled physicist and mathematician with extensive experience 
                                as a data analyst and currently thriving as a data engineer. 
                                My expertise includes data pipelines, data modeling, data cleaning, web scraping and transforming data into actionable insights. 
                                My mathematical background equips me with exceptional problem-solving abilities, and I am always eager to learn new tools and software to enhance my capabilities.
                            </p>
                            </td>
                            
                        </tr>
                        
                    </table>
                    <h6>PERSONAL DETAILS</h6>
                    <hr>
                    <table class="details-table" style="height: 10%;">                        
                        
                        <tr>
                            <td class="label">Phone</td>
                            <td>+502 35694354</td>
                        </tr>
                        <tr>
                            <td class="label">Email</td>
                            <td>lmdcma27@gmail.com</td>
                        </tr>
                    </table>

                    <h6>EDUCATION</h6>
                    <hr>
                    <table class="studies-table" style="height: 10%;">
                        <tr>
                            <td class="career">Bachelor's degree in Applied Physic</td>
                        </tr>
                        <tr>
                            <td>Universidad de San Carlos de Guatemala, Guatemala.</td>
                            <td class="time">2016-2022</td>
                        </tr>
                        <tr>
                            <td class="career">Bachelor's degree in Applied Mathematics</td>
                        </tr>
                        <tr>
                            <td>Universidad de San Carlos de Guatemala, Guatemala.</td>
                            <td class="time">2018-2022</td>
                        </tr>
                    </table>

                    <h6>WORK EXPERIENCE</h6>
                    <hr>
                    <table class="experience-table" style="height: 19%;">                        
                        <tr>
                            <td class="work">Data Engineer, FenixCorp.</td>
                            <td class="wt">Feb 2023-Present</td>
                        </tr>
                        <tr>
                            <td class="description">
                                <ul>
                                    <li>ElasticSerach cluster management assuring migration, massive data ingestion, handle indices backups and snapshots. 
                                        MySQL integration with Logstash reducing the query time and inserting demormalized tables for BI in Kibana. EKL.
                                    </li>                                                                        
                                    <li>
                                        Automated ETL processes for data collection using web scraping techniques (Selenium & Airflow), 
                                        performing data cleaning, and training machine learning models to extract relevant information. 
                                        Integrated processed data into an ElasticSearch index, significantly reducing financial debt investigation time 
                                        and improving production performance by minimizing manual data extraction effort.
                                    </li>                             
                                    <li>Performed data cleaning on large datasets (over 50M records) by merging duplicate entries, ensuring data quality, and minimizing data loss (MySQL & Pandas). 
                                        This process resulted in reducing the dataset to approximately 10M records, ensuring optimal and consistent search performance.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="work">Data Analyst, INE Guatemala.</td>
                            <td class="wt">Aug 2022-Feb 2023</td>
                        </tr>
                        <tr>
                            <td class="description">
                                <ul>
                                    <li>Calculate the Price Consumer Index (PCI) and inflation rate of the country.</li>
                                    <li>Analyzed large datasets to provide insights and statistical reports in dashboards using Power BI and
                                        SQL Server.</li>
                                    <li>
                                        Developed and maintained SQL queries and scripts for automated data extraction and analysis.
                                    </li>
                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td class="work">Additional skills</td>
                        </tr>
                        <tr>
                            <td class="description">
                                <ul>    
                                    <li>
                                        Join optimization and handle memory issues on Spark. Spark Streaming and its integration with
                                        kafka. 
                                    </li>   
                                    <li>
                                        DBT for data modeling and its integration with Airflow for ETL, ELT processes.
                                    </li>
                                    <li>
                                        Strong proficiency in SQL query implementations and optimization. Database design and dba.
                                    </li>                                                                             
                                    <li>
                                        Web scraping.
                                    </li>                      
                                    <li>Regular expressions (re) for data cleaning.</li>                                                                                                                                         
                                    <li>
                                        Training named entity recognition (NER) and machine learning model.
                                    </li>    
                                    <li>
                                        Dashboard design.
                                    </li>                                
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <h6>LANGUAGES</h6>
                    <hr>
                    <table class="languages-table" style="height: 10%;">
                        <tr>
                            <td class="language">Spanish</td>
                            <td class="level">Native</td>
                        </tr>
                        <tr>
                            <td class="language">English</td>
                            <td class="level">Middle</td>
                        </tr>
                    </table>

                    <h6>SKILLS</h6>
                    <hr>
                    <table class="software-table" style="height: 10%;">
                        <tr>
                            <td class="languages">Python</td>
                            <td>Numpy, Pandas, PySpark, Selenium, Matplotlib, Sklearn, Tensorflow, django, Spacy.</td>
                        </tr>
                        <tr>
                            <td class="languages">Javascript</td>
                            <td>NodeJS, Angular, DataForge.</td>
                        </tr>
                        <tr>
                            <td class="languages">SQL</td>
                            <td>Windows functions, Aggregation functions, store procedures,subqueries, views, pivot, unpivot, backup, restore.
                            </td>
                        </tr>
                        <tr>
                            <td class="languages">NoSQL</td>
                            <td>ElasticSearch</td>
                        </tr>
                        <tr>
                            <td class="languages">Others</td>
                            <td>Docker,Kafka, DBT, Airflow, Git, Power BI, LATEX, Office.</td>
                        </tr>
                    </table>

                    <h6>CERTIFICATIONS</h6>
                    <hr>
                    <table class="certifications-table" style="height: 10%;">
                        <tr>
                            <td class="year">2024</td>
                            <td><a href="https://www.hackerrank.com/certificates/d0078d61e143" target="_blank">SQL (Advanced) Certificate</a></td>
                        </tr>                        
                        <tr>
                            <td class="year">2022</td>
                            <td>Complete Machine Learning Course: Data Science with Python(Udemy)</td>
                        </tr>
                        <tr>
                            <td class="year">2022</td>
                            <td>Deep Learning with Tensorflow for Machine Learning and AI(Udemy)</td>
                        </tr>
                        <tr>
                            <td class="year">2022</td>
                            <td>SQL Server: Advanced course (Udemy)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>        
    
</body>

</html>
