<!-- app.component.html -->
<app-header></app-header>

<div class="global">
    <!-- Table of Contents Section -->
    <div class="toc">
        <div class="toc-content">
            <h2>SQL Problems</h2>
            <ul>
                <li><a routerLink="#section1">15 Days of Learning SQL</a></li>
                <li><a routerLink="#section2">Occupations</a></li>
                <li><a routerLink="#section3">Binary Tree Nodes</a></li>
                <li><a routerLink="#section4">The Pads</a></li>
                <li><a routerLink="#section5">New Companies</a></li>
            </ul>
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="content">
        <h1 class="section-title">SQL PROBLEMS</h1>
        <p class="intro">
            In this section you will find many solved problems with MySQL taken from
            <a href="https://www.hackerrank.com/dashboard" target="_blank">HackerRank</a>. Some of these require advanced skills,
            so if you wish to improve your skills or learn more about these topics, take a look. I hope it helps you!
        </p>

        <!-- Problem List Section -->
        <div class="section" id="section1">
            <h2 class="problem-title">15 Days of Learning SQL (Level: Hard)</h2>
            <div class="problem-links">
                <a href="https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem" target="_blank" class="problem-link">Statement</a>
                <a href="https://github.com/lmdcma27/SQL-PROBLEM-CHALLENGES/blob/main/15_days_of_learning_sql.sql" target="_blank" class="problem-link">Solution</a>
            </div>
        </div>

        <div class="section" id="section2">
            <h2 class="problem-title">Occupations (Level: Medium)</h2>
            <div class="problem-links">
                <a href="https://www.hackerrank.com/challenges/occupations/problem" target="_blank" class="problem-link">Statement</a>
                <a href="https://github.com/lmdcma27/SQL-PROBLEM-CHALLENGES/blob/main/occupations.sql" target="_blank" class="problem-link">Solution</a>
            </div>
        </div>

        <div class="section" id="section3">
            <h2 class="problem-title">Binary Tree Nodes (Level: Medium)</h2>
            <div class="problem-links">
                <a href="https://www.hackerrank.com/challenges/binary-search-tree-1/problem" target="_blank" class="problem-link">Statement</a>
                <a href="https://github.com/lmdcma27/SQL-PROBLEM-CHALLENGES/blob/main/binary_trees_nodes.sql" target="_blank" class="problem-link">Solution</a>
            </div>
        </div>

        <div class="section" id="section4">
            <h2 class="problem-title">The Pads (Level: Medium)</h2>
            <div class="problem-links">
                <a href="https://www.hackerrank.com/challenges/the-pads/problem" target="_blank" class="problem-link">Statement</a>
                <a href="https://github.com/lmdcma27/SQL-PROBLEM-CHALLENGES/blob/main/the_pads.sql" target="_blank" class="problem-link">Solution</a>
            </div>
        </div>
        <div class="section" id="section4">
            <h2 class="problem-title">New Companies (Level: Medium)</h2>
            <div class="problem-links">
                <a href="https://www.hackerrank.com/challenges/the-company/problem" target="_blank" class="problem-link">Statement</a>
                <a href="https://github.com/lmdcma27/SQL-PROBLEM-CHALLENGES/blob/main/new_companies.sql" target="_blank" class="problem-link">Solution</a>
            </div>
        </div>
    </div>
</div>
