.main{
    width: 100%;
    height: 84.5vh;
    display: flex;    
    
    flex-direction: row;
    
}
/*--------------------------Projects Content------------------------*/
.maintitle{
    display: flex;
    flex-direction: row;
}


.projects{
    float: left;
    width: 50%;
    height: 100%;    
}

.practices {
    float: right;
    width: 50%;
    height: 100%;    
}

.projectContent{
    width: 100%;
    height: 100%;    
    display: flex;
}

.projectBox, .practiceBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;    
    background-color: white;
    border-style: solid;
    border-color: black;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    text-align: center;
    margin: 3%;
    height: 19vh;
    padding: 10px;
    box-sizing: border-box;  /* Ensure padding and border are included in the width */
    overflow: auto; 
}
.projectBox a, .practiceBox a, .projectBox p, .practiceBox p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.8vh;
}


.projectBox a:hover,.practiceBox a:hover{
    background-color: white;
    color: orange;
    font-size: 25px;
}

.projectBox:hover,.practiceBox:hover{
    background-color: white;
    border-color: blue;
}

.project{
    float: left;
    flex: 19;    
    flex-direction: column;
    display: flex;
    height: inherit;
    background-color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: auto;
    align-items: center;
}

.ytvideo{
    color: red;
    font-weight: bold;
}



@media (max-width: 1080px) {
    /* On smaller screens, stack the projects and practices vertically */
    .projectContent {
        flex-direction: column;
    }

    .projects, .practices {
        width: 100%;
        float: none; /* Remove float */
    }

    .projectBox, .practiceBox {
        width: 100%;  /* Ensure boxes take up full width on smaller screens */
        height: auto;  /* Let the boxes adjust their height based on content */
        margin: 5%;  /* Adjust margins for better spacing */
    }

    .maintitle {
        font-size: 4vh; /* Make the title responsive */
    }

    /* Adjust other text sizes */
    .projectBox a, .practiceBox a,.projectBox p, .practiceBox p {
        font-size: 2.5vw;
    }
}
