.main{
    width: 100%;
    height: 83.8vh;
    display: flex;    
    margin-bottom: -2vh;
    flex-direction: row;
    
}
/*--------------------------Projects Content------------------------*/
.maintitle{
    display: flex;
    flex-direction: row;
}


.projects{
    float: left;
    width: 50%;
    height: 100%;    
}

.practices {
    float: right;
    width: 50%;
    height: 100%;    
}

.projectContent{
    width: 100%;
    height: 100%;    
    display: flex;
}

.projectBox,.practiceBox{
    width: 90%;    
    background-color: white;    
    border-style: solid;
    border-color: black;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    height: 25%;
    text-align: center;
    margin: 3%;
    align-items: space-between;
}

.projectBox a:hover,.practiceBox a:hover{
    background-color: white;
    color: orange;
    font-size: 22px;
}

.projectBox:hover,.practiceBox:hover{
    background-color: white;
    border-color: blue;
}

.project{
    float: left;
    flex: 19;    
    flex-direction: column;
    display: flex;
    height: inherit;
    background-color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: auto;
    align-items: center;
}

.ytvideo{
    color: red;
    font-weight: bold;
}

/*--------------------------CV CONTENT------------------------*/
/* .sidebar{
    float: right;
    flex: 1;  
    height: 100%; 
    background-color: #f2f2f2;
    padding-left: 1%;
    padding-right: 1%;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    flex-direction: column;
    overflow: auto;
    display: flex;
} */