<div class="main">
    <!--Projects content-->
    <div class="project">
        <h4 class="projecttitle">Projects and Practices (Reloading the project page enhance the code's presentation.)</h4>
        <div class="projectContent">
            <div class="projects">        
                <div class="projectBox">
                    <a routerLink="/projects/cpi" routerLinkActive="active">Calculate Price Consumer Index</a>
                    <p>Learn how to Calculate the Price Consumer Index in python using sql and advance pandas techniques</p>
                </div>
                <div class="projectBox">
                    <a routerLink="/test" routerLinkActive="active">Data Cleanning: SQL vs Pandas</a>
                    <p>Coming soon...!</p>
                </div>
                <div class="projectBox">
                    <a routerLink="/test" routerLinkActive="active">Docker & Spark</a>
                    <p>Coming soon...!</p>
                </div>
            </div>
            <div class="practices">
                
                <div class="practiceBox">
                    <a href="https://colab.research.google.com/drive/1JviAw2aPuNylHSnf5M_vInQHn8iLEUQt?usp=sharing"> Dimensionality Reduction: LDA vs PCA </a>
                    <p>This link leads to a google colab notebook.</p>
                </div>
                <div class="practiceBox">
                    <a href="https://colab.research.google.com/drive/1m0yswilfy8T3vqdURn0gSQKxZD448eEV?usp=sharing">Spark, an introduction</a>
                    <p>This link leads to a google colab notebook.</p>
                </div>
                <div class="practiceBox">
                    <a routerLink="/test" routerLinkActive="active">Terraform</a>
                    <p>Coming soon...!</p>
                </div>
            </div>
        </div>        
    </div>

    <!--CV content-->
    <div class="sidebar">
        <div class="part1">
            <div class="frase">
                What really matters is your skill to solve problems.
            </div>
            <div class="foto">
                <img src="../../assets/images/foto.jpg" width="80" height="80" id="Avatar">
            </div>
        </div>

        <div class="part2">
            <h6>PERSONAL DETAILS</h6>
            <hr>
            <div class="details">
                <ul class="list1">
                    <li>
                        <p>Date of Birth</p>
                    </li>
                    <li>
                        <p>Phone</p>
                    </li>
                    <li>
                        <p>Email</p>
                    </li>
                </ul>
                <ul class="list2">
                    <li>
                        <p>July 20, 1997 </p>
                    </li>
                    <li>
                        <p>+502 35694354</p>
                    </li>
                    <li>
                        <p>lmdcma27@gmail.com</p>
                    </li>
                </ul>
            </div>
            <h6>STUDIES</h6>
            <hr>
            <div class='studies'>
                <ul class="list3">
                    <li>
                        <p class="career1">Grade in Applied Physic </p>
                    </li>
                    <li>
                        <p>Universidad de San Carlos de Guatemala, Guatemala.</p>
                    </li>
                    <li>
                        <p class="career2">Grade in Applied Mathematics </p>
                    </li>
                    <li>
                        <p>Universidad de San Carlos de Guatemala, Guatemala.</p>
                    </li>
                </ul>
                <ul class="list4">
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p class="time1">2016-2022</p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p class="time2">2018-2022</p>
                    </li>
                </ul>
            </div>
            <h6>WORK EXPERIENCE</h6>
            <hr>
            <div class="experience">
                <ul class="list5">
                    <li>
                        <p class="work1">Project management and data science</p>
                    </li>
                    <li>
                        <p>Instituto Nacional de Estadística</p>
                    </li>
                    <li>
                        <p class="work2">Data Engineer</p>
                    </li>
                    <li>
                        <p>Fenix Corp</p>
                    </li>
                </ul>
                <ul class="list6">
                    <li>
                        <p class="wt1">Aug. 2022-Feb .2023</p>
                    </li>
                    <li>
                        <p class="wt2">Feb .2023-Present</p>
                    </li>
                </ul>
            </div>
            <h6>LANGUAGES</h6>
            <hr>
            <div class="languages">
                <ul class="list7">
                    <li>
                        <p class="11">Spanish</p>
                    </li>
                    <li>
                        <p class="12">English</p>
                    </li>
                </ul>
                <ul class="list8">
                    <li>
                        <p>Mother Tongue</p>
                    </li>
                    <li>
                        <p>Middle</p>
                    </li>
                </ul>
            </div>
            <h6>SOFTWARE</h6>
            <hr>
            <div class="software">
                <ul class="list9">
                    <li>
                        <p>Python</p>
                    </li>
                    <li>
                        <p>Javascript</p>
                    </li>
                    <li>
                        <p>SQL</p>
                    </li>
                    <li>
                        <p>Others</p>
                    </li>
                </ul>
                <ul class="list10">
                    <li>
                        <p>Numpy, Pandas, Matplotlib, Sklearn, Tensorflow, django.</p>
                    </li>
                    <li>
                        <p>NodeJS, Angular, DataForge.</p>
                    </li>
                    <li>
                        <p>Aggregation functions, Store procedures, subqueries, views, pivot,unpivot, backup,restore.
                        </p>
                    </li>
                    <li>
                        <p>Docker, Power BI, LATEX, Office.</p>
                    </li>
                </ul>
            </div>

            <h6>CERTIFICATIONS</h6>
            <hr>
            <div class="certifications">
                <ul class="list11">
                    <li>
                        <p>2022</p>
                    </li>
                    <li>
                        <p>2022</p>
                    </li>
                    <li>
                        <p>2022</p>
                    </li>
                </ul>
                <ul class="list12">
                    <li>
                        <p>Complete Machine Learning Course: Data Science with Python(Udemy)</p>
                    </li>
                    <li>
                        <p>Deep Learning with Tensorflow for Machine Learning and AI(Udemy)</p>
                    </li>
                    <li>
                        <p>SQL Server: Advanced course (Udemy)</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div style="clear:both;"></div>
</div>