<div class="main">
    <!--Projects content-->
    <div class="project">
        <div class="maintitle" style="font-size: 2.5vh;">
            Projects and Practices
        </div>
        

        <div class="projectContent">
            <div class="projects">        
                <div class="projectBox" *ngFor="let project of projects">

                    <a [routerLink]="project.route" routerLinkActive="active">{{project.title}}</a>
                    <p>{{project.description}}</p>    
                    <br>
                    <a *ngIf="project.link!= 'no link'" [href]="project.link" target="_blank" class="ytvideo">Watch YT video</a>
                </div>                                
            </div>
            <div class="practices">    
                <div class="practiceBox" *ngFor="let practice of practices">
                    <a *ngIf="practice.link!= 'no link'; else practiceRoute" [href]="practice.link" target="_blank"> {{practice.title}} </a>
                    <p>{{practice.description}}</p>
                    <ng-template #practiceRoute>
                        <!-- Define your alternative content here if practice.link is 'no link' -->
                        <a [routerLink]="practice.route">{{practice.title}}</a>
                    </ng-template>
                </div>                                
            </div>
            
        </div>        
    </div>

    <!--side bar for the future-->
    <!-- <div class="sidebar">        
    </div> -->

    <div style="clear:both;"></div>
</div>