.main {
    width: 100%;
    height: 85vh;
    display: flex;
    
    flex-direction: row;
    
}
/*--------------------------Projects Content------------------------*/
.title{
    display: flex;
    flex-direction: row;
}
.project {
    float: left;
    flex: 1;    
    flex-direction: column;
    display: flex;
    width: 55%;      
    background-color: white;
    border-style: solid;
    border-color: black;
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: auto;
    align-items: center;
}

.projects {
    float: left;
    width: 50%;
    height: 100%;    
}
.practices {
    float: right;
    width: 50%;
    height: 100%;    
}

.projectContent {
    width: 100%;
    height: 100%;    
    display: flex;
}

.projectBox,.practiceBox {
    width: 90%;    
    background-color: white;    
    border-style: solid;
    border-color: black;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    height: 25%;
    text-align: center;
    margin: 3%;
}

.projectBox a:hover,.practiceBox a:hover {
    background-color: white;
    color: orange;
    font-size: 22px;
}

.projectBox:hover,.practiceBox:hover {
    background-color: white;
    border-color: blue;
}
/*--------------------------CV CONTENT------------------------*/
.sidebar {
    float: right;
    
    background-color: #f2f2f2;
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    overflow: auto;
    display: flex;
}
.part1 {
    width: 100%;
    height: 7%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
}
.frase {
    float: left;
    width: 69%;
    padding-top: 2%;
}

.foto {
    float: right;
    width: 29%;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}   

#Avatar {
    display: block;
    border-radius: 30px;
    border: 1px solid #0e11e2;
}

.part2 {
    width: 100%;
    height: 93%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top: -7px;
    margin-bottom: -7px;
    
}

h6 {
    font-family: Georgia, serif;
    margin-bottom: 1px; 
    font-size: 12px;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    margin-top: 0px;
    margin-bottom: 2px;
}

.details,.studies,.experience,.languages,.software,.certifications {
    display: flex;
    flex-direction: row;
}

.list1,.list2,.list3,.list4,.list5,.list6,.list7,.list8,.list9,.list10,.list11,.list12 {
    margin-right: 10px; 
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list3,.list5 {
    width: 50%;
}

.list4,.list6 {
    width: 50%;
}
    
li {
    margin-top: -4px;
    margin-bottom: -4px;
}

p {
    font-family: Georgia, serif;
    margin-bottom: 0px; 
    font-size: 10px;
}

.career1,.career2,.work1,.work2 {
    font-weight: 900;
}


.time1,.time2 {
    background-color: black;
    color: #f2f2f2;
    padding: 3px;
    padding-left: 55px;
    margin-left: 80px;
    margin-bottom: 23px;
}

.wt1,.wt2 {
    background-color: black;
    color: #f2f2f2;
    padding: 4px;
    margin-left: 80px;
    margin-bottom: 23px;
}